body {
    background-color: #e6e6e6;
    font-size: 16px;
    font-weight: normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}    

.container {
    display: block;
    padding-top: 60px;
    max-width: 650px;
    margin: auto;
    text-align: center;
}

.form-group {
    margin: 0 auto 20px;
    display: flex;
    width: 42%;
    border-radius: 35px;
    border: none;
    background-color: white;
    color: black;
    padding: 20px;
    outline: none;
    font-family: inherit;
}


.container-for-buttons {
    margin-right: 135px;
}

.btn {
    user-select: none;
    text-align: center;
    margin-top: 0px;
    height: 60px;
    width: 130px;
    background-color: #333;
    padding: 20px 40px;
    color: white;
    border-radius: 35px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    position: relative;
}

.btn:hover{
    opacity: 0.95;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
}


.error {
    background-color: rgb(250, 45, 45);
    position: absolute;
    display: none;
    cursor: default;
}

.show-error {
    display: inline;
}

.success {
    background-color: rgb(77, 214, 77);
    position: absolute;
    display: none;
    cursor: default;
}

.show-success {
    display: inline;
}

.button {
    position: absolute; 
}

.button-none {
    display: none;
}


.btn__creat {
    font-size: 20 px;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #999999;
    background-color: transparent;
    cursor: pointer;
}


h4 {
    color: #999999;
}

.container-for-loading {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
}

.loading {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 10%, #e5f403);
    animation: animate 2s linear infinite;
    visibility: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

@keyframes animate {
    0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
    }
}

.loading:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border-radius: 50%;
    z-index: 999;
}
.loading:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 999;
    z-index: 1;
    filter: blur(20px);
}

.loading-visible {
    transition: width 0.3s;
    visibility: visible;
}

.footer {
    position: relative;
    text-align: center;
    border: none;
    margin: auto;
    padding: 20px;
    height: 80px;
}

.registrartion {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
}
